/* remember geocities? this still wont be that cool */

body {
  margin:0;
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/66/SMPTE_Color_Bars.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
}

main {

  height:100vh;
}
