/* remember geocities? this still wont be that cool */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes tvShow {
  from {background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/66/SMPTE_Color_Bars.svg');}
    to {background-image:url('https://media1.tenor.com/images/2fab8d23f8fcfa8954702408eb6d280c/tenor.gif?itemid=12674225');}
}

/* Standard syntax */
@keyframes tvShow {
  from {background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/66/SMPTE_Color_Bars.svg');}
    to {background-image:url('https://media1.tenor.com/images/2fab8d23f8fcfa8954702408eb6d280c/tenor.gif?itemid=12674225');}
  }

body {
  margin:0;
  background-image:url('https://thumbs.gfycat.com/PrestigiousHiddenBluegill-size_restricted.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation-name:tvShow;
  animation-duration:20s;
  animation-iteration-count:1;
}


header {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
}

main {

  height:100vh;
}

footer {
  position:absolute;
  bottom:0;
  background-color:#000000;
  color:#ffffff;
}

main p {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  width: 50vw;
  margin-left: 1rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  text-align: justify;
}
