/* remember geocities? this still wont be that cool */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes tvShow {
  0% {background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/66/SMPTE_Color_Bars.svg');}
    80% {background-image:url('https://media1.tenor.com/images/2fab8d23f8fcfa8954702408eb6d280c/tenor.gif?itemid=12674225');}
}

/* Standard syntax */
@keyframes tvShow {
  0% {background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/66/SMPTE_Color_Bars.svg');}
    80% {background-image:url('https://media1.tenor.com/images/2fab8d23f8fcfa8954702408eb6d280c/tenor.gif?itemid=12674225');}
  }

body {
  margin:0;
  background-image:url('https://thumbs.gfycat.com/PrestigiousHiddenBluegill-size_restricted.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-animation-name:tvShow;
  animation-name:tvShow;
  -webkit-animation-duration:10s;
  animation-duration:10s;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1;
  scroll-snap-type: y mandatory;
}


header {
  height:100vh;
  scroll-snap-align: start;
}

header h1 {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  margin-top:0;
}

header .intro-text {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  padding: 0.25rem;
  font-size: 1.25rem;
  text-align: justify;
  justify-self: right;
  grid-column: 2 / 3
}

header .intro-text p {
  margin-right:1rem;
  margin-left:1rem;
}


main {

height:100vh;

padding-top: 10rem;

scroll-snap-align: start;
}

footer {

background-color:#000000;

color:#ffffff;

scroll-snap-align: start;
}


h2 {
    color: #000000;
    font-family: sans-serif;
    text-transform: lowercase;
    margin-left: 1rem;
    /* text-align: center; */
    margin-top: 2rem;
    padding-top: 0.75rem;
}

section {
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    max-width: 500px;
    width: 80vw;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ff7e00;
}

ul {
    margin-bottom: 1rem;
}

p {
    margin-left: 1rem;
}


.center {
    display: flex;
    display:grid;
    align-items: center;
    height: 100%;
    grid-template-columns: auto 50% auto;

}

a {}



section#elsewhere a {
    text-transform: lowercase;
}
section#elsewhere ul, section#about-me ul {
      list-style-type: none;
}
